
<h1 style="color:darkcyan">Log in Empleados</h1>

<form method="post">
    <label>Usuario</label>
    <input type="text" class="form-control" name="username" required />
    <label>Password</label>
    <input type="number" class="form-control" name="password" required />
    <button class="btn btn-info">Log In</button>
</form>



<h4 style="color:crimson">@ViewData["MENSAJE"]</h4>